*{
    font-family: Arial;
}
ul{
  margin: 0;
	padding: 0;
}

nav{
  height: 40px;
  background-color: black;

}

#menu-haut li{
  width: 25%;
	float: left;
  list-style: none;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

.lignes{
  background-color: grey;
  height: 300px;
}

img{
  float: left;
  padding-right: 10px;
}

#texte-droite{
  float: left;
  border: 15px;
}

#comment{
  padding: 5px;
}

#bouton{
  padding: 10px;
  background-color: blue;
  float: left;
  border: 1px;
  bottom: -150px;
  left: 5px;
  position: relative;
  border-radius: 15px;
}

#chevron-right {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
  left: 0;
	transform: rotate(45deg);
}
