body{
  height: 2000px;
}

#test{
  width: 500px;
  height: 500px;
  background-color: yellow;
  transition: all 1s ease-in;
}

#test:hover{
  background-color: green;
  border-radius: 50%; /*50% = 100% pour border raduis*/
  /*transform: rotate(180deg); rotation 180°*/
  /*transform: scale(0.1); 1 c'est 100% 0.1 c'est 10% pour agrandir*/
  /* transform: translate(50vh, 10vw); pour decaler des elements (en pourcentage) (x,y)*/
  /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); bordure ombres*/
}

#test2{
  width: 500px;
  height: 500px;
  background-color: pink;
  /*animation-name: monAnimation;*/
  animation-duration: 5s; /*la durée de l'animation à l'interieur (ce qui ce passe à l'animaiton, à l'interieur)*/
  animation-delay: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; /*l'animation va se faire à l'infinie*/
}
@keyframes monAnimation {
  0%{
    transform: rotate(90deg);
    background-color: blue;
  }

  25%{
    transform: scale(0.1);
    background-color: green;
  }
  50%{
    background-color: yellow;
  }
  100%{
    transform: rotate(90deg);
    background-color: red;
  }
}

#test3{
  width: 500px;
  height: 100px;
  background-color: pink;
  /*animation-name: monAnimation;*/
  animation-duration: 5s; /*la durée de l'animation à l'interieur (ce qui ce passe à l'animaiton, à l'interieur)*/
  animation-delay: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; /*l'animation va se faire à l'infinie*/
  margin-top: 100px;
}

@keyframes uneAutreAnimation {
  0%{
    transform: rotate(0deg);
    background-color: blue;
  }
  100%{
    transform: rotate(360deg);
    background-color: red;
  }

}
